{% extends 'gestion_seguros/base.html' %}

{% block titulo %} Seguros AP: Gestión de pólizas{% endblock %}

{% block contenido %} 
<h1>Gestión de Asegurados</h1>

<div class="p-2">
    <h3>Cartera de pólizas</h3>
    <h4>Poliza: {{poliza.numero}}</h4>
    <div class="container d-flex flex-wrap p-2">
        <div class="">
            <form action="" method="POST">
                {% csrf_token %}
            <table class="table table-dark">
                <thead>
                    <td>Póliza</td>
                    <td>N° Cert.</td>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Fecha de nac.</td>
                    <td>Documento</td>
                    <td>Mail</td>
                    <td>Accion</td>
                </thead>
                {% for certificado in certificados %}
                <tr>
                    <td>{{certificado.poliza.numero}}</td>
                    <td>{{certificado.numero}}</td>
                    <td>{{certificado.asegurado.nombre}}</td>
                    <td>{{certificado.asegurado.apellido}}</td>
                    <td>{{certificado.asegurado.fecha_nacimiento}}</td>
                    <td>{{certificado.asegurado.documento}}</td>
                    <td>{{certificado.asegurado.email}}</td>
                    <td></td>                        
                </tr>
                {% empty %}
                <span class="">No posee certificados registrados en el sistema</span>
                {% endfor %}
                    <td></td>
                    <td></td>
                    <td>{{form.nombre}}</td>
                    <td>{{form.apellido}}</td>
                    <td>{{form.fecha_nacimiento}}</td>
                    <td>{{form.documento}}</td>
                    <td>{{form.email}}</td>
                    <td><input type="submit" value="+" class="btn btn-primary"></td>                     
                </form>
            </table>
        </div>
    </div>
</div>

{% endblock %}