{% extends 'gestion_seguros/base.html' %}

{% block titulo %} Seguros AP: Gestión de pólizas{% endblock %}

{% block contenido %} 
<h1>Gestión de pólizas</h1>

<div class="p-2">
    <h3>Cartera de pólizas</h3>
    <h4>Cliente: {{cliente.nombre}}</h4>
    <div class="container d-flex flex-wrap p-2">
        {% for poliza in polizas %}
            {% include 'gestion_seguros/cards/card_poliza.html' with poliza=poliza %}
        {% empty %}
            <span class="">No posee pólizas registradas en el sistema</span>
        {% endfor %}
    </div>
</div>

{% endblock %}