{% extends 'gestion_seguros/base.html' %}

{% block titulo %} Seguros AP: Gestión de clientes{% endblock %}

{% block contenido %} 
<h1>Gestión de clientes</h1>

<div class="p-2 mb-3">
    <h3>Dar de alta cliente</h3>
    <form>
        <div class="form-group-row">
         <label class="col-sm-1 col-form-label">Razón Social</label>
         <input type="text" id="Name" name="Name" />
        </div>
        <div class="form-group-row">
         <label class="col-sm-1 col-form-label">CUIT</label>
         <input type="number" id="CUIT" name="CUIT" />
        </div>
         <input type="submit" value="Dar de alta" class="btn btn-primary">
    </form>
</div>

<div class="p-2">
    <h3>Cartera de clientes</h3>
    <div class="container d-flex p-2">
        {% for cliente in clientes %}
        <div class="card w-25 m-3">
            <div class="card-body">
            <h5 class="card-title">{{cliente.nombre}}</h5>
            <p class="card-text">Cuit: {{cliente.CUIT}}</p>
            <p class="card-text">Pólizas activas: {{cliente.polizas_activas}}</p>
            <a href="#" class="btn btn-primary">Modificar</a>
            <a href="#" class="btn btn-danger">Desactivar</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}