<div class="card w-25 m-3">
    <div class="card-body">
    <h5 class="card-title">{{poliza.numero}}</h5>
    <p class="card-text mb-0"><b>Cliente:</b> {{poliza.cliente.nombre}}</p>
    <p class="card-text mb-0"><b>Tomador:</b> {{poliza.tomador}}</p>
    <p class="card-text mb-0"><b>Fecha Inicio:</b> {{poliza.fecha_inicio}}</p>
    <p class="card-text mb-2"><b>Fecha Fin:</b> {{poliza.fecha_fin}}</p>
    <a href="{% url 'index' %}gestion_polizas/detalle_poliza/{{poliza.id}}" class="btn btn-primary">Datos</a>
    <a href="{% url 'index' %}gestion_asegurados/cartera_asegurados/{{poliza.id}}" class="btn btn-primary">Asegurados</a>
    </div>
</div>